.nav {
	padding: 1rem 10rem;
	background-color: var(--x-base);
	color: var(--x-lbase);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav .logo {
	padding: 0.5rem;
	font-size: 1.25em;
	font-weight: bold;
	display: block;
	transition: linear 0.2s;
}

.nav .logo:hover {
	color: var(--x-for);
	text-shadow: 2px 2px var(--x-thr);
}

.nav .logo span {
	color: var(--x-for);
}

.nav .menu {
	display: flex;

}

.nav .menu li {
	border-right: solid var(--x-lbase) 1px;
}

.nav .menu li:last-child{
	border-right: 0px;
}

.nav .menu a {
	padding: 0.5rem 1rem;
	transition: linear 0.2s;
}

.nav .menu a:hover,
.nav .menu a.active {
	color: var(--x-for);
}