:root {
  --x-base: #071E3D;
  --x-lbase: #F0F4F9;
  --x-sec: #28BBFF;
  --x-thr: #DE1A1A;
  --x-frt: #93827F;

  --xs-base: #06182F;
  --xs-lbase: #AAC1DD;
  --xs-sec: #00A2ED;
  --xs-thr: #B31515;
  --xs-frt: #776865;

  --x-font-base: #004360;
  --x-font-lbase: #f0f4f9;

  --x-def-py: 5rem;
  --x-def-px: 10rem;
}

* {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body {
  color: var(--x-font-base);
}

/* Elements */
a {
  color: inherit;
}

p {font-size: 1.25em;}
small {font-size: 1rem;}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em;}
h6 {font-size: 0.85em;}

/* Components */
.mx-auto {margin: 0 auto;}
.mb-0 {margin-bottom: 0;}

.bold {font-weight: bold;}

.card {
  width: 100%;
  padding: 3rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
  box-shadow:  10px 10px 20px gray;
}
.card-hor {
  padding: 0;
  display: flex;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--x-base);
  color: var(--x-font-lbase);
  font-weight: bold;
  transition: 0.2s linear;
}
.btn:hover {
  background-color: var(--xs-base);
  color: var(--xs-lbase);
}
.btn-none {background-color: transparent;}
.btn-none:hover {background-color: transparent;}

/* Navigation */
.nav {
	padding: 1rem var(--x-def-px);
	background-color: var(--x-base);
	color: var(--x-font-lbase);
	display: flex;
	justify-content: space-between;
	align-items: center;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav .logo {
	padding: 0 0.5rem;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	transition: linear 0.2s;
}

.nav .logo:hover {
	text-shadow: 2px 2px var(--x-sec);
}

.nav .logo span {
	color: var(--x-sec);
}

.nav .menu {
	display: flex;

}

.nav .menu li {
	border-right: solid var(--x-lbase) 1px;
}

.nav .menu li:last-child{
	border-right: 0px;
}

.nav .menu a {
	padding: 0.5rem 1rem;
	transition: linear 0.2s;
}

.nav .menu a:hover,
.nav .menu a.active {
	color: var(--x-sec);
}

/* Header */
.header {
  width: 100%;
  padding: var(--x-def-py) var(--x-def-px);
  background-color: var(--x-lbase);
  display: flex;
}

.header .desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .desc .name {
  margin-bottom: 0;
}

.header .desc .title {
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
  background-color: var(--x-base);
  color: var(--x-font-lbase);
}

.header .desc .title span:not(.header .desc .title span:last-child) {
  padding-right: 0.5rem;
  border-right: solid var(--x-lbase) 1px;
  margin-right: 0.5rem;
}

.header .desc .highlight {
  margin-bottom: 0;
}

.header .image {
  width: 50%;
  padding: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header .image div {
  width: 70%;
  border-radius: 1rem;
  background-color: var(--x-base);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  position: relative;
}

.header .image img {
  width: 140%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
}

/* About Me */
.about {
  width: 100%;
  background-color: var(--x-base);
  color: var(--x-font-lbase);
  display: flex;
  text-align: justify;
}

.about .image {
  width: 35%;
  position: relative;
  overflow: hidden;
}

.about .image img {
  width: 100%;
  position: absolute;
  top: -2rem;
}

.about .desc {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: var(--x-def-py) var(--x-def-px) var(--x-def-py) 6rem;
}

.about .desc .name {
  margin-bottom: 0.5rem;
}

.about .desc .name + p {
  text-indent: 1em;
}

/* Resume */
.resume {
  padding: var(--x-def-py) var(--x-def-px);
  display: flex;
  flex-wrap: wrap;
}

.resume .title {
  width: 100%;
  margin-bottom: 0;
}

.education, .experience {
  width: 50%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.education .card,
.experience .card {
  background-color: var(--x-lbase);
  overflow: hidden;
}

.education .card .image,
.experience .card .image {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.education .card .image img,
.experience .card .image img {
  width: 100%;
}

.education .card .image img {
  scale: 1.05;
}

.experience .card .image img {
  scale: 1.5;
}

.education .card .desc,
.experience .card .desc {
  width: 65%;
  padding: 2rem 2rem 2rem 1rem;
}

.education .card .desc .title,
.experience .card .desc .title {
  margin-bottom: 0.5rem;
  color: var(--xs-base);
}

/* Education */
.education {
  padding-right: 3rem;
}

/* Experience */
.experience {
  padding-left: 3rem;
}

/* Project */
.project {
  padding: var(--x-def-py) var(--x-def-px);
  background-color: var(--x-base);
  color: var(--x-font-lbase);
  display: flex;
}

.project .desc {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.project .desc .title {
  width: 65%;
  margin-bottom: 0;
}

.project .desc .btn {
  width: fit-content;
  margin-right: auto;
}

.project .image {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

/* Video */
.video {
  padding: var(--x-def-py) var(--x-def-px);
  background-color: var(--x-lbase);
  text-align: center;
}

.video video {
  width: 100%;
}

/* Contact */
.contact {
  padding: var(--x-def-py) var(--x-def-px);
  background-color: var(--x-lbase);
}

.contact form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact form .title {
  margin-bottom: 1rem;
  text-align: center;
}

.contact form label {
  margin-bottom: 0.5rem;
}

.contact form input,
.contact form textarea {
  padding: 0.5rem;
  border: solid var(--x-base) 1px;
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  padding: 1rem var(--x-def-px);
  background-color: var(--x-base);
  display: flex;
  justify-content: space-between;
}

.footer .copyright {
  color: var(--x-lbase);
  font-size: 1em;
}

.footer .links {
  display: flex;
}

.footer .links .links-item {
  margin: 0 0.5rem;
  color: var(--x-font-lbase);
}

.footer .links .links-item:hover {
  color: var(--x-sec);
}

/* .footer .links .links-item:not(.footer .links .links-item:last-child):after {
  content: "|";
  margin: 0 0 0 0.5rem;
} */